body {
    background-color: rgb(61, 36, 85);
    font: normal 15pt Arial;
    text-shadow: steelblue;


}

input {
    font: normal 10pt Arial;


}

div#color {
    background-color: white;
    width: 350px;
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    box-shadow: 3px 3px 20px #110530;
}

h1 {
    text-align: center;
}